*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    width: 100;
    background-color: #090b13;
    top: 0;
    position: sticky;
    
   
    
}

main{
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
    
}

footer{
    height: 100px;
    background-color: #5b5b5b;
}

#sidebar{
    height: calc(100vh - 165px);
    width: 200px;
    background-color: black;
    color: white;
   
}

#sidebar-logo{
    width: 70%;
    margin: 15px 15px 30px 15px
   
}

#sidebar-hiddenlogo{
    width: 50%;
    margin-left: 35px;
    display: none;


}

#sidebar-home{
    width: 20%;

}

#sidebar-footer{

    
}







.container{ 
    width: calc(100% - 100px);
}