*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    width: 100%;
    background-color: #090b13;
    top: 0;
    position: sticky;
    z-index: 1;
}

main{
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
    
}

footer{
    height: 100px;
    background-color: #222;
}

/* Sidebar */

#sidebar{
    height: calc(100vh - 100px);
    width: 250px;
    background-color: black;
    color: white;
}

#sidebar-logo{
    width: 70%;
    margin: 15px 15px 30px 15px
}

#sidebar-hiddenlogo{
    width: 100%;
    margin-left: 35px;
    display: none;
}

ul li{
    display:inline-block;
    list-style-type: none;
}

#sidebar-home{
    color: grey;
}

#sidebar-home span:hover{
    color: white;
}

#sidebar-home ul li{
    width: 15%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

span{
    color: grey;
}

span:hover{
    color: white;
}

.bordo{
    background-color:  grey;
    color: black;
    padding: 8px;
}

.bordoutente{
    background-color:  grey;
    color: white;
    border-radius: 50%;
}

#sidebar-playlist ul li {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: grey;
    margin-left: 15px;
}

#sidebar-footer{
    width: 80%;
    position: relative;
    top: 150px;
}

#sidebar-footer img{
    width: 10%;
}

/* Header */

.upgrade{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 35px;
    margin-right: 10px;
    border-radius: 20px 20px 20px 20px;
}

.upgrade:hover{
    font-size: 18px;
}

/* Container */


.container{ 
    width: calc(100% - 250px);
    overflow-y: auto;
}

.lista-intestazione{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: gray;
}

.lista-intestazione span{
    border: 4px solid green;
    border-radius: 25%;
    border-left: black;
    border-top: black;
    border-right: black;
}

.lista-intestazione ul li{
    margin-left: 50px;
    font-size: 12px;
}

.lista-intestazione ul li:hover{
    color: white;
}

.content{
    width: 95%;
    margin:40px 40px;
    display: flex;
}

.card{
    width: 17%;
    height: 17%;
    margin-top: 30px;
    margin: 5px;
    color: white;
}

.cardcontent{
    position: relative;
}

.cardcontent img{
    width: 100%;
    margin-bottom: 15px;
}


.album{
    
}

.album-hover{
    position: absolute;
    top: 0;
    font-size: 100px;
    transform: translate(+30%, +25%);
    opacity: 0;
    width: 100%;
    height: 100%;
}

.album-hover:hover{
   opacity: 1;

}


/* Footer */

.footercontent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 12px;
}

.icone{
    font-size: 15px;
    margin: 10px 0px 10px 160px;
}

.containerpiccolosinistra img{
    width: 60px;
    padding: 20px 10px;
}

div .grey:hover{
    color: white;
}

.containerpiccolo{

}

.play{
    background-color: grey;
    height: 3px;
    width: 400px;
    margin-top: 5px;
}

.record{
    background-color: #fff;
    height: 3px;
    width: 100px;
    margin-top: 5px;
    display: flex;
    position: relative;
    bottom:5px
}

.palla{
    background-color: red;
    height: 3px;
    width: 10px;
    margin-top: 5px;
    display: flex;
    position: relative;
    bottom:5px;
    left: 50px;
    border-radius: 50%;
    
    
}



.record:hover{
    background-color: green;
}

.volume{
    background-color: grey;
    height: 3px;
    width: 100px;
    margin-top: 5px;
}

.regola{
    background-color: #fff;
    height: 3px;
    width: 20px;
    margin-top: 5px;
    display: flex;
    position: relative;
    bottom:5px
}

.regola:hover{
    background-color: green;
}

/* Utility */

.d-flex{
    display: flex; 
}

.direction-column{
    flex-direction:column;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-center{
    justify-content: flex-end;
}

.flex-end{
    justify-content: flex-end;
}

.baseline{
    justify-content: baseline;
}

.mtop10{
    margin-top: 10px;
}

.mtop20{
    margin-top: 20px;
}

.mtop30{
    margin-top: 30px;
}

.mtop40{
    margin-top: 40px;
}

.mleft10{
    margin-left: 10px;  
}

.mleft15{
    margin-left: 15px;  
}

.mleft30{
    margin-left: 30px;
}

.mleft40{
    margin-left: 40px;
}

.mright10{
    margin-right: 20px;
}

.mright40{
    margin-right: 40px;
}
.mbot10{
    margin-bottom: 10px;
}

.mbot30{
    margin-bottom: 30px;
}

.white{
    color: white;
}

.grey{
    color: grey;
}

.center{
    text-align: center;
}

.tondo{
    border-radius: 50%;
}

.iconagrande{
    font-size: 25px
}

.centraitem{
    align-items: center;
}

@media screen and (max-width: 768px){
   
    main{
        width: 100vw;
    }

    header{
        width: 100%;   
    }

    .container{
        width: 100vw;
        overflow-x: hidden;
    }   


    .content{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 20%;
        height: 20%;
        margin-top: 30px;
        margin: 5px;
        color: white;
    }

    .lista-intestazione{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        color: gray;
    }

    .lista-intestazione ul li{  
            margin-top: 15px;
            color: gray;
            font-size: 13px;
    }

    .play{
        background-color: grey;
        height: 3px;
        width: 200px;
        margin-top: 5px;
    }
    
    .record{
        background-color: #fff;
        height: 3px;
        width: 50px;
        margin-top: 5px;
        display: flex;
        position: relative;
        bottom:5px
    }

    .icone{
        position: relative;
        transform: translate(-55%, -5%);
        top
    }

    #sidebar-footer{
        width: 80%;
        position:relative;
        top: 100px;
    }

    #sidebar-playlist ul li {
        margin-top:10px;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        color: grey;
        margin-left: 15px;
        
    }
}


@media screen and (max-width: 576px){


    main{
        width: 100vw;
    }

    header{
        width: 100%;   
    }

    .container{
        width: 100vw;
        overflow-x: hidden;
        
    }   

    .play{
        background-color: grey;
        height: 3px;
        width: 150px;
        margin-top: 5px;
    }
    
    .record{
        background-color: #fff;
        height: 3px;
        width: 25px;
        margin-top: 5px;
        display: flex;
        position: relative;
        bottom:5px
    }

    .card{
        width: 45%;
        height: 45%;
        margin-top: 30px;
        margin: 5px;
        color: white;
    }


    .volume{
        background-color: grey;
        height: 3px;
        width: 30px;
        margin-top: 5px;
        
    }
    
    .regola{
        background-color: #fff;
        height: 3px;
        width: 10px;
        margin-top: 5px;
        display: flex;
        position: relative;
        bottom:5px
    }

    .containerpiccolo img{
        width: 80px;
        padding: 20px 10px;
       
    }

    .containerpiccolo{
        display: flex;
        position:relative;
        right: 45px;
    }

    .lista-intestazione ul li{  
        margin-top: 20px;
        color: gray;
        font-size: 13px;
    }

    #sidebar-footer{
        width: 80%;
        position:relative;
        top: 90px;
    }

    div .grey{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 500px){


    #sidebar-home ul li span{
        width: 15%;
        margin-left: 15px;
        display: flex;
        align-items: center;
        display: none;
    }


    #sidebar-footer{
        width:70%;
        position: relative;
        top: 460px;
    }

    #sidebar-home ul li {
        width: 55%;
    }

    #sidebar-footer img{
        width: 125%;
    }

    #sidebar-logo{
        width: 70%;
        margin: 15px 15px 30px 15px;
        display: none;
    }
    
    #sidebar-hiddenlogo{
        width: 50%;
        margin: 15px;
        display: inline-block;
    }

    #sidebar-playlist ul li {
        display: none;
    }

    strong{
        display: none;
    }

    #sidebar span{
        display: none;
    }
        
    #sidebar{
        height: calc(100vh - 100px);
        width: 50px;
        background-color: black;
        color: white;
    }

    .containergrande{
       position: relative;
       right: 55px;
        
    }

    .containerpiccolo{
        position:relative;
        right: 110px;
    }
}